streamlit==1.58.0
python-dotenv==1.2.2
langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27
langchain-google-genai==2.1.8
langchain-groq==0.3.8
duckduckgo-search==8.1.1
pydantic==2.11.7